<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reports.css" />
    <title>Report</title>
  </head>
  <body>
    <a href="/">
      <h1>Missing Pets</h1>
    </a>
    <div class="container">
      <div class="card">
        <h2><%= report.name %></h2>
        <h3><%= report.animal %></h3>
        <h3><%= report.location %></h3>
        <p><%= report.description %></p>
        <ul>
          <% sightings.forEach(function(sight) { %>
            <li><%= sight.road_name %>, <%= sight.area  %></li>
            <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>
