<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reports.css" />
    <title>Reports</title>
  </head>
  <body>
    <a href="/">
      <h1>Missing Pets</h1>
    </a>
    <div class="container">
      <% reports.forEach(function(report) { %>
      <a href="http://localhost:5001/report/<%= report.id %>">
        <div class="card">
          <h2><%= report.name %></h2>
          <h3><%= report.animal %></h3>
          <h3><%= report.location %></h3>
          <p><%= report.description %></p>
        </div>
      </a>
      <% }); %>

      <div class="card">
        <h2>Tommy</h2>
        <h3>Dog</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus illo
          est unde vel sunt cumque sint id tempora nam eius.
        </p>
        <ul>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
        </ul>
      </div>
      <div class="card">
        <h2>Tommy</h2>
        <h3>Dog</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus illo
          est unde vel sunt cumque sint id tempora nam eius.
        </p>
        <ul>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
        </ul>
      </div>
      <div class="card">
        <h2>Tommy</h2>
        <h3>Dog</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus illo
          est unde vel sunt cumque sint id tempora nam eius.
        </p>
        <ul>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
        </ul>
      </div>
      <div class="card">
        <h2>Tommy</h2>
        <h3>Dog</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus illo
          est unde vel sunt cumque sint id tempora nam eius.
        </p>
        <ul>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
          <li>Istanbul, Turkey.</li>
        </ul>
      </div>
    </div>
  </body>
</html>
